@model IEnumerable<WebApplication3.Models.StockData>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Revenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dividend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetCashFlow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperatingCF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestingCF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinancingCF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Revenue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetIncome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EPS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dividend)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetCashFlow)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OperatingCF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvestingCF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinancingCF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inventory)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>