@{
    ViewData["Title"] = "Home Page";
}

@section styles{
    <style>
        .header {
            font-family: sans-serif;
            color: white;
            font-size: 20px;
            text-align: center;
        }

        .box {
            margin-bottom: 10px;
        }

        .point {
            font-size: 63px;
            color: red;
        }

        .keyword {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 6px 12px;
            height: 38px;
            color: black;
        }

        .search {
            background-color: red;
            height: 38px;
            width: 120px;
            border-radius: 4px;
            border: 1px solid red;
            padding: 3px 12px;
            margin-left: 5px;
        }

        .info_box {
            text-align: center;
            font-size: 15px;
            background-color: #121212;
            margin-top: 40px;
            padding: 10px 30px 10px 30px;
            height: 264px;
        }

            .info_box > .show_edfri {
                margin-bottom: 10px;
                border-radius: 8px;
                background-color: #e9bcbc;
                font-size: 90px;
                text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
            }

            .info_box > p.title {
                font-weight: bold;
            }

            .info_box > p.describe {
                color: #9e9e9e;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        .info_detail {
            font-size: 15px;
            background-color: #121212;
            margin-top: 40px;
            padding: 10px 30px 10px 30px;
            height: 264px;
            display: flex;
            align-items: center;
        }

            .info_detail > .grade {
                font-size: 120px;
                text-align: center;
                color: #e9bcbc;
            }

            .info_detail > .rule {
                font-size: 20px;
                color: #9e9e9e;
                text-align: left;
            }

                .info_detail > .rule > ul {
                    list-style-type: decimal;
                }

        .overLoading {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f5f5f5;
            opacity: 0.5;
            z-index: 1000;
        }

        .layoutLoading {
            display: none;
            position: absolute;
            top: 20rem;
            left: 40%;
            width: 20%;
            height: 20%;
            z-index: 1001;
            text-align: center;
        }
    </style>
}
@section scripts{
    <script>
        $(function () {
            $("input#search").on("click", function () {
                var keyword = $("input.keyword").val();
                if (keyword == "") {
                    alert("請輸入欲查詢代號!!");
                    $("input.keyword").focus()
                } else {
                    showLoading(true);
                    $.ajax({
                        method: "GET",
                        url: "/Home/queryStock/" + $("input.keyword").val(),
                        //data: $("input.keyword").val(),
                        //contentType: "",

                        success: function (data) {
                            console.log(data);
                            E_chk(data.resultdt);
                            D_chk(data.resultdt);
                            F_chk(data.resultdt);
                            R_chk(data.resultdt);
                            I_chk(data.resultdt);
                            showLoading(false);
                        },
                        error: function (thrownError) {
                            console.log(thrownError);
                        }
                    })
                }


            })

            //第一個變數都要小寫
            var E_chk = function (dt) {
                var count = 0;
                for (var i = 0; i < dt.length - 1; i++) {
                    if (dt[i].eps > dt[i + 1].eps)
                        count++;
                }
                console.log('E:', count);
                $("div#E_row div.grade").html("+" + count);
                //$("div#E_row li.show_list").html(show);
                return count;
            }

            var D_chk = function (dt) {
                var count = 0;
                var dividend_now = 0;
                var dividend_last = 0
                for (var i = 0; i < dt.length - 1; i++) {
                    dividend_now = Math.round(dt[i].dividend / dt[i].eps * 10000) / 100.00;
                    dividend_last = Math.round(dt[i + 1].dividend / dt[i + 1].eps * 10000) / 100.00;
                    if (dividend_now > dividend_last && dividend_now < 100)
                        count++;
                }
                console.log('D:', count);
                $("div#D_row div.grade").html("+" + count);
                //return count;
            }

            var F_chk = function (dt) {
                var count = 0;
                for (var i = 0; i < dt.length; i++) {
                    if (dt[i].netCashFlow > 0)
                        count++;
                }
                console.log('F:', count);
                $("div#F_row div.grade").html("+" + count);
                //return count;
            }

            var R_chk = function (dt) {
                var count = 0;
                var ROE = 0;
                for (var i = 0; i < dt.length; i++) {
                    ROE = Math.round(dt[i].netIncome / dt[i].shareholderEQU * 10000) / 100.00;
                    if (ROE > 15 && ROE < 30)
                        count++;
                }
                console.log('R:', count);
                $("div#R_row div.grade").html("+" + count);
                //return count;
            }

            var I_chk = function (dt) {
                var count = 0;
                var IC = 0;
                IC = dt[0].netIncome / dt[0].interest;
                switch (true) {
                    case IC > 4:
                        count = 10;
                        break;
                    case IC > 10:
                        count = 5;
                        break;
                    default:
                        count = 0;
                }
                console.log('I:', count);
                $("div#I_row div.grade").html("+" + count);
            }

            function showLoading(show) {
                if (show) {
                    document.getElementById("over").style.display = "block";
                    document.getElementById("layout").style.display = "block";
                } else {
                    document.getElementById("over").style.display = "none";
                    document.getElementById("layout").style.display = "none";
                }
            }


        });
    </script>
}
<div class="header">

    <div class="box point">StockScore <span style="color: white;">Explorer</span></div>
    <div class="box lead">Search the stock you wanted.</div>
    <div class="box">
        <input class="keyword" type="text" name="keyword" id="keyword" placeholder="Keying The Keyword" />
        <input class="search" type="button" name="search" id="search" value="Search!" />
    </div>

</div>
<br />
<div id="E_row" class="row">
    <div class="col-md-4 col-xs-6">
        <div class="info_box">
            <div class="show_edfri">E</div>
            <p class="title">- EPS -</p>
            <p class="describe">EPS每一股淨賺多少錢</p>
            <div class="detail">@Html.ActionLink("Add Rank", "detail", "Home", new { style = "color:red; text-decoration: underline;" })</div>
        </div>
    </div>
    <div class="col-md-8 col-xs-6">
        <div class="info_detail row">
            <div class="grade col-md-4 col-sm-12 col-xs-12">0</div>
            <div class="rule col-md-8 hidden-sm hidden-xs">
                <ul>
                    <li>10年穩定增加EPS</li>
                    <li>當年度增加就加1</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="D_row" class="row">
    <div class="col-md-4 col-xs-6">
        <div class="info_box">
            <div class="show_edfri">D</div>
            <p class="title">- DIVIDEND -</p>
            <p class="describe">證明公司已經有錢給你</p>
            <div class="detail">@Html.ActionLink("Add Rank", "detail", "Home", new { style = "color:red; text-decoration: underline;" })</div>
        </div>
    </div>
    <div class="col-md-8 col-xs-6">
        <div class="info_detail row">
            <div class="grade col-md-4 col-sm-12 col-xs-12">0</div>
            <div class="rule col-md-8 hidden-sm hidden-xs">
                <ul>
                    <li>股息/EPS，每年穩定發放股息</li>
                    <li>當年度增加就加1</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="F_row" class="row">
    <div class="col-md-4 col-xs-6">
        <div class="info_box">
            <div class="show_edfri">F</div>
            <p class="title">- Free Cash Flow -</p>
            <p class="describe">穩定現金流</p>
            <div class="detail">@Html.ActionLink("Add Rank", "detail", "Home", new { style = "color:red; text-decoration: underline;" })</div>
        </div>
    </div>
    <div class="col-md-8 col-xs-6">
        <div class="info_detail row">
            <div class="grade col-md-4 col-sm-12 col-xs-12">0</div>
            <div class="rule col-md-8 hidden-sm hidden-xs">
                <ul>
                    <li>10年自由現金流持續為正數</li>
                    <li>當年度增加就加1</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="R_row" class="row">
    <div class="col-md-4 col-xs-6">
        <div class="info_box">
            <div class="show_edfri">R</div>
            <p class="title">- ROE -</p>
            <p class="describe">賺錢的效率</p>
            <div class="detail">@Html.ActionLink("Add Rank", "detail", "Home", new { style = "color:red; text-decoration: underline;" })</div>
        </div>
    </div>
    <div class="col-md-8 col-xs-6">
        <div class="info_detail row">
            <div class="grade col-md-4 col-sm-12 col-xs-12">0</div>
            <div class="rule col-md-8 hidden-sm hidden-xs">
                <ul>
                    <li>10年ROE股東權益報酬率 > 15%</li>
                    <li>當年度增加就加1</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="I_row" class="row">
    <div class="col-md-4 col-xs-6">
        <div class="info_box">
            <div class="show_edfri">I</div>
            <p class="title">- Interest Coverage -</p>
            <p class="describe">還債能力</p>
            <div class="detail">@Html.ActionLink("Add Rank", "detail", "Home", new { style = "color:red; text-decoration: underline;" })</div>
        </div>
    </div>
    <div class="col-md-8 col-xs-6">
        <div class="info_detail row">
            <div class="grade col-md-4 col-sm-12 col-xs-12">0</div>
            <div class="rule col-md-8 hidden-sm hidden-xs">
                <ul>
                    <li>淨收入/利息，採取最新一年資料</li>
                    <li>> 10得10分；> 4得5分</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="over" class="overLoading"></div>
<div id="layout" class="layoutLoading"><img src="/Images/loading.gif" /></div>